

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: var(--background-light);
color: var(--text-light);
}

:root {
  --background-light: #fff;
  --text-light: #333;
  --background-dark: #333;
  --text-dark: #fff;
}
 
/* Dark mode styles */
.dark-mode {
  background: var(--background-dark);
  color: var(--text-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
  font-family: 'Dancing Script', cursive;
}